@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <p>
    <h2>@ViewBag.Message</h2>
    </p>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Mobile :</span>
        <span>0710605498</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>011-4870386</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@carsale.com">Support@carsale.com</a></span>
    </p>
    <p>
        <span class="label">Buying:</span>
        <span><a href="mailto:Buying@carsale.com">Buying@carsale.com</a></span>
    </p>
    <p>
        <span class="label">Selling:</span>
        <span><a href="mailto:Selling@carsale.com">Selling@carsale.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3></h3>
    </header>
    <p>
        <br />
       
    </p>
</section>