@{
    ViewBag.Title = "Home Page";
}




@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                 <p>
                  <h2>@ViewBag.Message</h2>
                 </p>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3> </h3>
<ol class="round">
    <li class="one">
       
    </li>

    <li class="two">
       
    </li>

    <li class="three">
        
    </li>
</ol>
